 <footer class="footer">
        <div class="containerFooter footer-inner">
            <div class="footer-brand">
                <div class="logo footer-logo">
                    <span class="logo-text">REPARIFY</span>
                </div>
                <p>Soluciones inteligentes para tu hogar</p>
            </div>
            <div class="footer-col">
                <h4>Producto</h4>
                <a href="/index.html#steps-comofunciona">Cómo funciona</a>
                <a href="/Pages/profesionales.html">Profesionales</a>
                <a href="/Pages/obtenerDiagnostico.html">Obtén un diagnóstico</a>
            </div>
            <div class="footer-col">
                <h4>Empresa</h4>
                <a href="/Pages/sobreNosotros.html">Sobre nosotros</a>
                <a href="">Contacto</a>
                <a href="#">Trabaja con nosotros</a>
            </div>
            <div class="footer-col">
                <h4>Legal</h4>
                <a href="#">Privacidad</a>
                <a href="#">Términos</a>
                <a href="#">Cookies</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2026 - Desarrollado por Micaela Mazza</p>
        </div>
    </footer>