@import url('variables.css');
body{
    background: url('../image/fondo-sobreNos.jpg');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

img{
    max-width: 100%;
}

.heroSobreNosotros , .sobre-container{
    padding: 4em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}

.hero-imageSobreNosotros{
    width: 45%;
}

.hero-subtituloSobreNosotros{
    color: var(--blue);
    font-weight: 700;
}

